* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300vh;
    overflow-x: hidden;
}

.section {
    width: 100vw;
    height: 100vh;
}

.backgroundSection1 {
    background-color: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundSection2 {
    width: 30vw;
    margin-top: 100vh;
    z-index: 1;
    position: relative;
    background-color: #333;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transform-style: preserve-3d;
    perspective: 2000px;
}

.backgroundSection3 {
    background-color: #333;
    z-index: 2;
}